.slider_text{
    text-align: center;cursor: default;background-color: #17a2b8;color: white;
}
.project{margin-bottom: 1rem;}
.project_slider_img{overflow: hidden;}
.project_slider_img a:hover>img{transition: var(--transtion); transform: scale(1.1);overflow: hidden;}
